/* ==========================================================================
   Pageparts - Text pp
   ========================================================================== */

/* General
   ========================================================================== */
article a {
  text-decoration: none;
}
.text-pp {
    max-width: 100%;
    margin: $default-margin 0;
     a {
      color: $font-medium !important;
    }
}
