<footer>
    <div class="container">
        <p class="col-md-12">
            &copy; - {{ "now"|date("Y") }} Blog Insomnies Culnaire   | Développé par
            <a href="http://bruyere-freelance.fr">Boris Bruyère</a>
        </p>
    </div>
</footer>