<header>
    <img src="{{ asset('/frontend/img/general/straw.png') }}" alt=""/><div class="header-content">
        <div class="header-content-inner">
            <h1>Blog d'une passionné de
                <span class="rotate rotate-h1">Cuisine, voyages, Food truck, découvertes</span>
            </h1>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">A propos</a>
        </div>
    </div>
</header>
