<header class="parallax-section">
    <div class="header-content">
        <img src="{{ asset('/frontend/img/general/logo-blog-culinaire.png') }}" alt=""/>
        <div class="header-content-inner">
            <h1>Blog d'une passionné de
                <span class="rotate rotate-h1">Cuisine, voyages, Food truck, découvertes</span>
            </h1>
            <a href="#wrapper" class="page-scroll">
                <i class="fa fa-chevron-down fa-2x"></i>
            </a>
        </div>
    </div>
</header>