<h3 class="text--center">@elo_gre</h3>
<!-- SnapWidget -->
<script src="http://snapwidget.com/js/snapwidget.js"></script>
<iframe src="http://snapwidget.com/in/?u=ZWxvX2dyZXxpbnwxMjV8NnwxfHxub3wwfG5vbmV8b25TdGFydHx5ZXN8eWVz&ve=190615"
        title="Instagram Widget" class="snapwidget-widget"
        allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;">
</iframe>