/* ==========================================================================
   Footer - Main footer
   ========================================================================== */

/* General
   ========================================================================== */

footer {
  background-color: $elo-dark;
  p {
    color: $elo-light;
  }
  a {
    color: $elo-primary-col;
  }
}

