/* ==========================================================================
   Header - Main navigation
   ========================================================================== */

/* Default
   ========================================================================== */

/* Hover dropdown */
ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block;
}

#mainNav {
  background-color: $elo-light;
}

/* img brand ***/
.navbar-brand {
  position: absolute;
  top: 0px;
  left: 40%;
  width: 10%;
  height: auto;
  display: inline;
  background-color: $elo-light;
  img {
    width: 100%;
  }
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  background-color: $elo-light;
}


/**** navigation Link   ***/
.navbar-nav {
  width: 40%;
  li {
    width: 25%;
    text-align: center;
    a {
      color: $elo-dark;
      text-decoration: none;
      text-transform: uppercase;
      font-family: $font-family--base;
      &:hover {
        color: $elo-dark;
      }
    }
  }
}


/* Mobile
   ========================================================================== */
.main-nav--mobile {
    background: #313131;

    @media(min-width: $screen-md-min) {
        display: none;
    }
}



/* Desktop
   ========================================================================== */
// .main-nav--desktop {

// }
