{% extends 'FreelanceBlogBundle:Layout:layout.html.twig' %}
{% block header %}
 --
{% endblock %}

{% block content %}
    {% set author = page.getAuthor() %}

<div class="container">
    <div class="row">
        {{ render_pagetemplate(page) }}
        {#Liste des catégorie#}
        {% include 'FreelanceBlogBundle:Pages/ArticleOverviewPage:_categories.html.twig' %}
    </div>
    <div class="row">
        {% include 'FreelanceBlogBundle:Pages/ArticlePage:_share.html.twig' %}
    </div>

    {#disqus#}
    {#{{ knp_disqus_render('blog', {'identifier': '/cms-symfony2/', 'limit': 10}) }}#}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'bruyerefreelanceblog';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
{% endblock %}
